<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TLFDADIDW_TE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TLFDADIDW_TE.Properties.Settings>
            <setting name="UpdatesLogFont" serializeAs="String">
                <value>Segoe UI, 9.75pt</value>
            </setting>
            <setting name="FormMainFont" serializeAs="String">
                <value>Segoe UI, 12pt, style=Bold</value>
            </setting>
        </TLFDADIDW_TE.Properties.Settings>
    </userSettings>
</configuration>